@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Merriweather:400,700');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-size: 16px; /*1em = 16px*/
    text-align: center;
    font-weight: 500;
    font-family: 'Droid Sans', sans-serif;
}

p {
    font-weight: bold;
    padding-left :.25em;
    font-size:1.35em;
    padding-bottom:.75em;
    color: #044703;
}

nav {
    padding: 1.2em;
    float:right;
}

nav a{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 1em;
    padding: 1em;
    color:black;
    text-decoration: none;
    display: inline-block;
    font-size: .7em;
}

a{
    color: #222;
    text-decoration: none;
}

section {
    width: 100%;
    padding: .25em;
}

h1, h2 {
    color: #670500;
    font-family: 'Merriweather', serif;
}

h1{
    font-weight: bolder;
    font-size:3.35em;
    text-align:center;
    padding:3em 0 .5em;
}

h2 {
    font-size: 3em;
    padding: 1em 0em .25em;
}

h3 {
    font-size: 1.75em;
}


h4{
    font-size: 1.5em;
    padding: 0 0 1em 0;
}

h5{
    padding: .75em;
    font-size: 1em;
    font-weight: 500;
}

h6{
    padding: .75em;
    font-size: .85em;
    font-weight: 400;
}

img.resize{
    max-width:50%;
    max-height:50%;
}

footer {
   background-color: #484848;
    padding: .7em;
}

footer  a{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0 1em;
    padding: 1em;
    color:black;
    text-decoration: none;
    display: inline-block;
    font-size: .7em;
}

.cta{
    background-color: #e77408;
    border: none;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}

.logo {
    float:left;
    color: #fff;
    padding: .5em;
    font-size:1.7em;
}

.whyWork {
    float: left;
    width: 32.10%;
    height: 11em;
    padding: 2em 2% 1.5em;

}

.rightSideIdea {
    width: 45%;
    float: right;
    padding: 11em 0 11em 0;
    margin: 6em 2% 2em .5%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: blue;
    border-width: thick;
}

.leftSideIdea {
    width: 45%;
    float: left;
    display: block;
    padding: 11em 0 11em 0;
    margin: 2em .5% 6em 2%;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: #484848;
}

.treadingIdeas {
    background-image: url("../images/elevators.jpg");
}

.rightGuy {
    background-image: url("../images/pexels-photo-200379-rightguy.jpeg");
}

.paidMagazines{
    background-image: url("../images/pexels-photo_PaidMagazines.jpg");
}

.homeOffice{
    background-image: url("../images/pexels-photo-263209-homeoffice.jpeg");
}

.seeMore{
    font-size: 1em;
    padding:2em;
    text-decoration: none;
}

.productsWeLove{
    float: left;
    width: 29.33%;
    height: 12em;
    padding: 1em 0 0 0;
    margin: 2%;
    background-color: #f7f8f9;
    border: 1px black solid;
}

#home{
    background-image: url("../images/ShowOffIndex.jpeg");
    width:100%;
    height: 95vh;
    padding: 2em 0;
}

#implementSolutions{
    margin: 2em 0 0 0;
    background-image: url("../images/woman-hand-desk-office.jpg");
    background-size: cover;
    height: 80vh;
}

#stillThinkingDiv{
    float: right;
    padding: 10em 12% 1em 2%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}