@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Merriweather:400,700');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-size: 16px; /*1em = 16px*/
    text-align: center;
    font-weight: 500;
    font-family: 'Droid Sans', sans-serif;
}

p {
    font-weight: bold;
    padding-left :.25em;
    font-size:1.35em;
    padding-bottom:.75em;
    color: #044703;
}

nav a{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 1em;
    color:black;
    text-decoration: none;
    display: inline-block;
    font-size: .7em;
}

section {
    width: 100%;
}

h1, h2 {
    color: #670500;
    font-family: 'Merriweather', serif;
}

h1{
    font-weight: bolder;
    font-size:3.35em;
    text-align:center;
    margin:3em 0 .5em;
}

h3 {
    font-size: 1.75em;
}

h2 {
    font-size: 3em;
    padding: 1em;
}

h5{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 20px;
    font-weight: 500;
}

h6{
    margin-bottom: 10px;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
}

img.resize{
    max-width:50%;
    max-height:50%;
}

a{
    color: #222;
}

footer {
    background-color: #383838;
    padding: 20px;
    text-align: center;
}

ul {
    width: 100%;
    display: table;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

ul li {
    display: table-cell;
    width: 30%;
    text-align: center;
}

.cta{
    background-color: #e77408;
    border: none;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}

.logo {
    float:left;
    color: #fff;
}

.navigationDiv {
    float:right;
}

.whyWork {
    float: left;
    width: 33.33%;
    margin: 2em auto;
    height: 12em;
}

.treadingIdeas {
    width: 45%;
    float: left;
    background-image: url("../images/elevators.jpg");
    padding: 11em 1em 11em 1em;
    margin: .5em 1em 6em 2.5em;
    background-size: cover;
    background-repeat: no-repeat;
}

.rightGuy {
    width: 45%;
    float: right;
    background-image: url("../images/pexels-photo-200379-rightguy.jpeg");
    padding: 11em 1em 11em 1em;
    margin: 6em 2.5em .5em 1em;
    background-size: cover;
    background-repeat: no-repeat;
}

.paidMagazines{
    width: 45%;
    float: left;
    background-image: url("../images/pexels-photo_PaidMagazines.jpg");
    padding: 11em 1em 11em 1em;
    margin: .5em 1em 6em 2.5em;
    background-size: cover;
    background-repeat: no-repeat;
}

.homeOffice{
    width: 45%;
    float: right;
    background-image: url("../images/pexels-photo-263209-homeoffice.jpeg");
    padding: 11em 1em 11em 1em;
    margin: 6em 2.5em .5em 1em;
    background-size: cover;
    background-repeat: no-repeat;
}

.seeMore{
    display: block;
    font-size: 1em;
    padding:2em;
}

.productsWeLove{
    height: 100%;
    float: left;
    width: 30.33%;
    margin: 1em;
    padding: 35px 40px;
    border-radius: 3px;
    background-color: #f7f8f9;
}

#home{
    background-image: url("../images/ShowOffIndex.jpeg");
    height: 95vh;
    padding: 2em 0;
}

#implementSolutions{
    background-image: url("../images/woman-hand-desk-office.jpg");
    background-size: cover;
    height: 80vh;
}

#stillThinkingDiv{
    float: right;
    padding: 10em 6.5em 1em 1em;
}