@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Merriweather:400,700');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-size: 16px; /*1em = 16px*/
    text-align: center;
    font-weight: 500;
    font-family: 'Droid Sans', sans-serif;
}

section {
    \: 100%;
    padding: 4em 0;
}

nav{
}

h1, h2 {
    color: #670500;
    font-family: 'Merriweather', serif;
}

h1{
    font-weight: bolder;
    font-size:3.35em;
    text-align:center;
    margin:2em 0 .5em;
}

header h1{
    margin:3.85em 0 .5em;
}

h2 {
    padding-left: 10px;
}

h3 {
    font-size: 1.75em;
}


p {
    font-weight: bold;
    padding-left :.25em;
    font-size:1.35em;
    padding-bottom:.5em;
    color: #044703;
}

.cta{
    background-color: #e77408;
    border: none;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}

a{
    color: #16357d;
}

header{
    /* width: 1200px; */
    margin: auto;
}

ul {
    width: 100%;
    display: table;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

ul li {
    display: table-cell;
    width: 30%;
    text-align: center;
}

footer {
    background-color: #cccccc;
    padding: 20px;
    text-align: center;
}

.whyWork {
    /* float: left; */
    /* width: 33.33%; */
    margin: 2em auto;
    /* height: 10em; */
    /* display: inline-block; */
}

img.resize{
    max-width:50%;
    max-height:50%;
}




#StartSolveButton{
    border: blue;
    padding: 1.5em;
}

#logoName{
    text-align: left;
    display:inline-block;
    font-size:  1.3em;
}

#home{
    background-image: url("../images/ShowOffIndex.jpeg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 95vh;
}

#implementSolutions{
    background-image: url("../images/woman-hand-desk-office.jpg");
    background-size: cover;
    height: 90vh;
}

.logoDiv {
    width:100%;
    font-size: 1.2em;
    margin: .2em;
}

.logo {
    float:left;
    color: #fff;
}

.navigationDiv {
    float:right;
}

nav a{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 1em;
    color:black;
    text-decoration: none;
    display: inline-block;
    font-size: .7em;
}

#whyWorkOnProvidingSolution{
}

#ideaHeading {
    margin:1em 0 .5em;
}

.treadingIdeas {
    background-image: url("../images/ElevatorButtons.jpg");
    padding: 7em 1em 7em 1em;
    margin: .5em 1em 3em 1em;
    background-size: cover;
    background-repeat: no-repeat;
}

.rightGuy {
    background-image: url("../images/man-1246028_1920.jpg");
    padding: 7em 1em 7em 1em;
    margin: 3em 1em .5em 1em;
}

.paidMagazines{
    background-image: url("../images/NewsPapers.jpg");
    padding: 7em 1em 7em 1em;
    margin: 3em 1em .5em 1em;
}
