body {
    margin: 0;
    font-weight: 500;
    color: #16357d;
    font-family: 'HelveticaNeue';
}

section {
    width: 100%;
    display: table;
    margin: 0;
    max-width: none;
}

#home{
    background-image: url("../images/BlueAngels.jpg");
    background-size: cover;
    height: 90vh;
}

ul {
    width: 100%;
    display: table;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

ul li {
    display: table-cell;
    width: auto;
    text-align: center;
}

#whySolution {
    height: 200px;
    width: 200px;
    height: auto;
}

#sectionHeading {
    size: 30px;
}

#elem-to-center {
    height: 50%; /* Set your own height: percents, ems, whatever! */
    width: 50%; /* Set your own width: percents, ems, whatever! */
    overflow: auto; /* Recommended in case content is larger than the container */
    margin: auto; /* Center the item vertically & horizontally */
    position: absolute; /* Break it out of the regular flow */
  /*  top: 0; left: 0; bottom: 0; right: 0; /* Set the bounds in which to center it, relative to its parent/container */
}

#implementSolutions{
    height: 90vh;
}




/*
button {
    background-color: #e70e00;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}*/

